{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'tickets/style.css' %}">

    <title>Raffle</title>
  </head>
  <body>
    <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" class="text-white">Home</a></li>
            <li class="breadcrumb-item"><a href="#" class="text-white">Year 7</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span class="text-white">Week 1</span></li>
          </ol>
        </nav>
        <div id="title">
            <h1 class="display-4 text-white text-center">Ms Andrews</h1>
            <h2 class="display-4 text-white text-center">Raffle Tickets for Week 1</h2>
        </div>

        <table class="table table-hover text-white">
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>RM</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>JT</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>OGS</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>AC</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>JG</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>RA</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>AP</td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>WR</td>
            </tr>
          </tbody>
        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
